input, select {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #aaa;
    border-radius: 5px;
}
input:focus, select:focus {
    outline: 1.5px solid #333;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

select {
    appearance: none;
}

div.select {
    position: relative;
}
div.select::after {
    content: '\2304';
    position: absolute;
    right: 0px;
    padding-right: 0.36rem;
    top: 50%;
    z-index: 99;
    transform: translateY(-75%);
    font-size: 1.5rem;
    color: #aaa;
}

button {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px 5px #000;
}

button.btn-confirmar {
    background-color: #FB627E;
    color: #fff;
}

button.btn-cancelar {
    background-color: #660000;
    color: #fff;
}

.error {
    color: darkred;
}
input.error {
    color: initial;
    outline: red;
    border: solid 1px red;
}